body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.input-xlarge {
width: 270px;
display: block ;
margin-bottom:30px;
}

.input-xlargeinrow {
width: 270px;
margin-bottom:30px;
margin-right: 90px
}

/* Below is for the json highlighting */
 pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
 .string { color: green; }
 .number { color: darkorange; }
 .boolean { color: blue; }
 .null { color: magenta; }
 .key { color: red; }

 #jsonStr, #regeStr {
  border: 2px dashed #666;
  margin: 20px;
  padding: 10px;
  font-family: "Arial";
}

/* Div for the results */
.results {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: 400;
line-height: 20px;
margin-left: 10%;
margin-right: 10%;
line-height: 200%;
}

.query {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
}
