body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}



.input-xlarge { 
width: 270px;
display: block ;
margin-bottom:30px; 
} 

.input-xlargeinrow { 
width: 270px;
margin-bottom:30px;
margin-right: 90px 
} 


