<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/favicon.ico">

    <title>Range Query</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="../css/mycss.css" rel="stylesheet">

  </head>

  <body>
    <div class="container">

        <header role="banner" id="global-header" class="">
            <div class="header-wrapper">
                <div class="header-global">
                    <div class="header-logo">
                        <a href="#" title="Go to the homepage" id="logo" class="content">
                            <img src="https://cdn.ons.gov.uk/assets/images/ons-logo.svg" width="240" height="135" alt="Office for National Statistics"> </a>
                    </div>
                </div>
            </div>
        </header>

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >Business Index Web Portal</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="../index.html">Home</a></li>
              <li><a href="match.html">Match</a></li>
              <li class="active"><a href="range_query.html">Range Query</a></li>
              <li><a href="ubrn_lookup.html">UBRN Lookup</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Query Types <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">$Something else here$</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Non-Query Related</li>
                  <li><a href="feedback.html">Feedback</a></li>
                  <li><a href="process_demo.html">Process Demo</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <!-- <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li> -->
              <li><a href="support.html">Support</a></li>
              <li><a href="help.html">Help</a></li>
              <li><a href="about.html">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

    <div class="container-fluid">

      <div class="col-sm-9 col-sm-offset-3 col-md-12 col-md-offset-0 main">
        <h1 class="page-header">Range Query</h1>
        <form>
        <div class="btn-group">

          <div class="form-group">
            <label for="IndustryCode">Industry Code Min Range</label>
            <input type="IndustryCode" class="form-control" id="IndustryCode" aria-describedby="addressHelp" placeholder="Enter Industry Code">
          </div>

          <div class="form-group">
            <label for="IndustryCode">Industry Code Max Range</label>
            <input type="IndustryCode" class="form-control" id="IndustryCode2" aria-describedby="addressHelp" placeholder="Enter Industry Code">
          </div>

          <label for="employmentbandlabel">Employment Band Min Range</label>
          <select id="employmentband" class="input-xlarge" >
            <option></option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
            <option>E</option>
            <option>F</option>
            <option>G</option>
            <option>H</option>
            <option>I</option>
            <option>J</option>
            <option>K</option>
            <option>L</option>
            <option>M</option>
            <option>N</option>
            <option>O</option>
          </select>

          <label for="employmentbandlabel">Employment Band Max Range</label>
          <select id="employmentband2" class="input-xlarge" >
            <option></option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
            <option>E</option>
            <option>F</option>
            <option>G</option>
            <option>H</option>
            <option>I</option>
            <option>J</option>
            <option>K</option>
            <option>L</option>
            <option>M</option>
            <option>N</option>
            <option>O</option>
          </select>

          <label for="legalStatuslabel">Legal Status Min Range</label>
          <select class="input-xlarge" id="legalStatus">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
          </select>

          <label for="legalStatuslabel">Legal Status Max Range</label>
          <select class="input-xlarge" id="legalStatus2">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
          </select>

          <label for="turnoverlabel">Turnover Min Range</label>
          <select class="input-xlarge" id="turnover">
            <option></option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
            <option>E</option>
            <option>F</option>
            <option>G</option>
            <option>H</option>
            <option>I</option>
          </select>

          <label for="turnoverlabel">Turnover Max Range</label>
          <select class="input-xlarge" id="turnover2">
            <option></option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
            <option>E</option>
            <option>F</option>
            <option>G</option>
            <option>H</option>
            <option>I</option>
          </select>

            <label for="tradingstatuslabel">Trading Status</label>
            <select class="input-xlarge" id="tradingstatus">
              <option></option>
              <option>A</option>
              <option>B</option>
              <option>C</option>
              <option>D</option>
              <option>E</option>
              <option>F</option>
              <option>G</option>
              <option>H</option>
              <option>I</option>
            </select>

          </div>

          <div>
            <button type="button" class="btn btn-primary" onclick="range_query();">Search</button>
            <button type="reset" class="btn btn-secondary">Clear</button>
          </div>
        </form>

        <h2 class="sub-header">Query</h2>

        <div class="query" id="query">No query has been submitted.</div>

        <div class="row">
          <div class="col-sm-offset-5 col-sm-3 text-center">
              <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default btn-default active center-block"><input type="radio" value="1" id="radio1" name="radio-group" checked>Table</label>
                  <label class="btn btn-default btn-default center-block"><input type="radio" value="2" id="radio2" name="radio-group">List</label>
                  <label class="btn btn-default btn-default center-block"><input type="radio" value="3" id="radio3" name="radio-group">Raw Json</label>
              </div>
          </div>
        </div>

        <!-- <div class="query" id="query"></div> -->

        <div class="results" id="prod"></div>

        </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- <script src="../js/vendor/holder.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <script src="../js/accessAPI.js"></script>
  </body>
</html>
